:root {
    --orange: #fd6407;
    --white: #ffffff;
    --text-color: rgba(0, 0, 0, 0.8);
    --white-background: rgba(255, 255, 255, 0.8);
}
body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    background-image: url(assets/Backgound.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
}
.content-container {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    gap: 120px;
}
.title {
    color: #ffffff;
    /* font-weight: 600; */
}
.vline {
    border-left: solid 2px var(--orange);
}
.more-info {
    background-color: var(--orange);
    margin-top: 42px;
    border-radius: 20px;
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 36px 78px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.online-school {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    font-size: 48px;
    text-align: center;
}
