.skills {
}

.skills__title {
    color: var(--text-color);
    text-align: center;
    line-height: 46px;
    font-size: 36px;
    padding: 0 124px;
}
.skills__title_orange {
    color: var(--orange);
}
.skills__Ñontainer {
    margin-left: 62px;
    margin-right: 62px;
    background-color: var(--white-background);
    padding: 42px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.skills__hard-skills {
    /* background-color: azure; */
    width: 512px;
}
.skills__soft-skills {
    /* background-color: blue; */
    width: 512px;
}
.skills__list {
    list-style-type: none;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
.skills__list li {
    line-height: 28px;
    font-size: 24px;
    padding-top: 32px;
    display: flex;
    align-items: center;
}
.skills__list li > span {
    color: var(--orange);
    font-size: 48px;
    line-height: 55px;
    margin-right: 26px;
}
