.team {
}
.team__title {
    font-size: 48px;
    color: var(--text-color);
    font-weight: 600;
}
.team__container {
    padding: 20px 62px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.team__list {
    padding: 0 0 32px 32px;
    border-radius: 20px;
    background-color: var(--white-background);
}
.team__list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.team__list ul > li {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    padding-top: 32px;
}
.team__list ul > li > span {
    width: 584px;
}

.team__circle {
    background-color: var(--orange);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 32px;
}
.team__spbu-logo {
    background-image: url(../assets/spbuLogo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 264px;
    width: 264px;
}
.team__fml-logo {
    background-image: url(../assets/239Logo.svg);
    height: 224px;
    width: 294px;
}
.team__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
